profiles {
    local {
        cpus = 4
        memory = '12 GB'
        process {
            executor = 'local'
            scratch = true
        }
        singularity {
            enabled = true
            runOptions = '--bind /home --bind /data'
        }
        docker {
                enabled = false
                runOptions = '-v /data:/data -v /home:/home'
        }
    }
    slurm {
        process {
            executor = 'slurm'
            // use 1.5X coverage for space. so 45G for a 30X genome is pretty safe.
	    clusterOptions = '--gres=tmpspace:45G '
	    time = '32h'
            scratch = true
        }
        singularity {
            enabled = true
	    // note: update these to match your cluster.
            runOptions = '--bind /home --bind /hpc --bind /scratch --bind /hpc/compgen/users/bpedersen/tmp/singularity-tmp:/tmp'
        }
        executor {
            submitRateLimit = 10
        }
    }
}

process {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,250] ? 'retry' : 'terminate' }
    cache = 'lenient'
    maxRetries = 0
    withName:DeepVariant {
	    cpus = 72
	    // use stageInMode = copy for slow network drives. otherwise remove.
            stageInMode = "copy"
	    memory = 50.GB
	    scratch = true
	    clusterOptions = '--gres=tmpspace:120G '
    }
    withName:manta {
	    cpus = 24
	    // use stageInMode = copy for slow network drives. otherwise remove.
            stageInMode = "copy"
	    memory = 5.GB
	    // use $TMPDIR to execute
	    scratch = true
	    clusterOptions = '--gres=tmpspace:75G '
    }
    withName:paragraph {
	    cpus = 24
	    memory = '8GB'
    }
    withName:svimmer {
	    cpus = 2
	    memory = '4GB'
    }
    withName:split {
	    cpus = 2
	    memory = '4GB'
    }
    withName:merge_svs {
            maxRetries = 0
	    cpus = 3
	    memory = '3GB'
    }
    withName:generate_jigv_pages {
           maxRetries = 0
	   cpus = 1
	   memory = '4GB'
    }
    withName:slivar_split_by_fam {
           maxRetries = 0
	   cpus = 2
	   memory = '4GB'
    }
    withName:slivar_sum_counts {
           maxRetries = 0
	   cpus = 2
	   memory = '4GB'
    }
    withName:slivar_merge_tsvs {
           maxRetries = 0
	   cpus = 1
	   memory = '2GB'
    }
    withName:slivar_rare_disease {
           maxRetries = 0
	   cpus = 2
	   memory = '8GB'
    }
}
