profiles {
    docker {
      docker.enabled = false
    }
    singularity {
      singularity.enabled = true
      pullTimeout = "200 min"
    }

    local {
        cpus = 4
        memory = '12 GB'
        process {
            executor = 'local'
            scratch = true
        }
        singularity {
            enabled = true
            runOptions = '--bind /home --bind /data'
        }
        docker {
                enabled = false
                runOptions = '-v /data:/data -v /home:/home'
        }
    }
    slurm {
        process {
            executor = 'slurm'
        }
        singularity {
            enabled = true
	    // note: update these to match your cluster.
            runOptions = '--bind /home --bind /hpc --bind /scratch --bind /hpc/compgen/users/bpedersen/tmp/singularity-tmp:/tmp'
            process.container = 'docker://brentp/octopus:v0.7.4a'

        }
	conda {
		enabled = false
	        memory = 128.GB
		cpus = 12
		process.conda = 'octopus'
	        process.clusterOptions = '--gres=tmpspace:200G --exclude=n0034,n0059,n0065'
	}
	docker {
		enabled = false
	}
        executor {
            submitRateLimit = 10
        }
    }
}

process {
    //errorStrategy = { task.exitStatus in [1,143,137,104,134,139,250] ? 'retry' : 'terminate' }
    errorStrategy = 'finish'
    shell =  ['/bin/bash', '-euo','pipefail']
    memory = 128.GB
    cpus = 12 

    cache = 'lenient'
    maxRetries = 0
    withName:xoctopus_trio {
	cpus = 12
	// use stageInMode = copy for slow network drives. otherwise remove.
	memory = 48.GB
	scratch = true
	clusterOptions = '--gres=tmpspace:200G --exclude=n0034,n0059,n0065'
        //container = 'docker://dancooke/octopus'

	//conda = 'octopus'
    }
    withName:xoctopus_fam_or_single {
        cpus = 12
        // use stageInMode = copy for slow network drives. otherwise remove.
        //stageInMode = "copy"
        memory = 48.GB
        // use $TMPDIR to execute
        scratch = true
        clusterOptions = '--gres=tmpspace:200G '
        //container = 'docker://dancooke/octopus'
	//conda = 'octopus'
    }
    withName:octopus_population {
        cpus = 10
        // use stageInMode = copy for slow network drives. otherwise remove.
        //stageInMode = "copy"
        memory = 156.GB
        // use $TMPDIR to execute
        scratch = true
        clusterOptions = '--gres=tmpspace:200G '
    }
    withName:octopus_population1 {
        cpus = 10
        // use stageInMode = copy for slow network drives. otherwise remove.
        //stageInMode = "copy"
        memory = 156.GB
        // use $TMPDIR to execute
        scratch = true
        clusterOptions = '--gres=tmpspace:200G '
        container = 'docker://brentp/octopus:v0.7.4a'
     }
}
