profiles {
    docker {
      docker.enabled = true
    }
    singularity {
      singularity.enabled = true
      pullTimeout = "200 min"
    }

    local {
        cpus = 4
        memory = '12 GB'
        process {

            executor = 'local'
            scratch = true
        }
        singularity {
            enabled = true
            runOptions = '--bind /home --bind /data'
        }
        docker {
                enabled = false
                runOptions = '-v /data:/data -v /home:/home'
        }
    }
    slurm {
        process {
            executor = 'slurm'
            // use 1.5X coverage for space. so 45G for a 30X genome is pretty safe.
	    clusterOptions = '--gres=tmpspace:200G '
	    time = '32h'
            scratch = true
        }
        singularity {
            enabled = true
	    // note: update these to match your cluster.
            runOptions = '--bind /home --bind /hpc --bind /scratch --bind /hpc/compgen/users/bpedersen/tmp/singularity-tmp:/tmp'
        }
        executor {
            submitRateLimit = 10
        }
    }
}

process {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,250] ? 'retry' : 'terminate' }
    shell =  ['/bin/bash', '-euo','pipefail']

    cache = 'lenient'
    maxRetries = 0
    withName:octopus_trio {
	cpus = 12
	// use stageInMode = copy for slow network drives. otherwise remove.
	memory = 12.GB
	scratch = true
	clusterOptions = '--gres=tmpspace:200G '
        container = 'docker://dancooke/octopus'
    }
    withName:octopus_fam_or_single {
        cpus = 12
        // use stageInMode = copy for slow network drives. otherwise remove.
        //stageInMode = "copy"
        memory = 12.GB
        // use $TMPDIR to execute
        scratch = true
        clusterOptions = '--gres=tmpspace:200G '
        container = 'docker://dancooke/octopus'
    }
    withName:octopus_population {
        cpus = 32
        // use stageInMode = copy for slow network drives. otherwise remove.
        //stageInMode = "copy"
        memory = 32.GB
        // use $TMPDIR to execute
        scratch = true
        clusterOptions = '--gres=tmpspace:200G '
        container = 'docker://dancooke/octopus'
    }
}
